#bigContainer {
	position: absolute;
	margin-left: 80px;
	margin-top: 80px;
	z-index: 1;
}
#container {
	width: 850px;
	float: left;
}
#legend {
	padding-top: 40px;
	float: left;
	width: 200px;
	height : 528px;
	z-index:2;
	float: right;
}
#map_id {
	position: relative;
	width : 816px;
	height : 528px;
	z-index:2;
}
#map_container {
	position: relative;
}
#grid {
	position: absolute;
	top: 0px;
	left: 0px;
}
#map-hiders {
	position: absolute;
	margin-left: -50px;
	margin-top:-500px;
	z-index: 3;
}
#interaction {
	float: left;
	width: 800px;
}
#gmapscontrolremover-bottom {
	position: absolute;
	margin-left: 50px;
	margin-top:475px;
	width:816px;
	height:25px;
	background-color: white;
	z-index:4;
}
#header {
	height:50px;
	z-index: 5;
}
.legend-title {
	margin-left:10px;
	margin-top:10px;
	font-size: 25px;
}
.legend-item {
	margin-left:10px;
	padding-left:10px;
	margin-top:10px;
	font-size: 20px;
	color: white;
}
.border-red {
	border-color : red;
}
.border-blue {
	border-color : blue;
}
.border-yellow {
	border-color : yellow;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.yellow {
	background-color: yellow;
}

.gray {
	background-color: gray;
}

#randombutton {
	text-align: center;
}
#getimagebutton {
	text-align: center;
}
#getlocationinfo {
	text-align: center;
}
#classifybutton {
	text-align: center;
}
.labelClass {
	width : 23px;
	height: 23px;
	border-style: solid;
	border-width: 1px;
	position: absolute;
	z-index: 1000;
}