
#legend {
	padding-top: 40px;
	z-index:2;
}
#map_id {
	position: relative;
	z-index:2;
}
#map_container {
	position: relative;
}
#grid {
	position: absolute;
	top: 0px;
	left: 0px;
}
#map-hiders {
	position: absolute;
	margin-top:-40px;
	height: 40px;
	width: 800px;
	background-color: white;
	z-index: 4;
}
#interaction {
	float: left;
	width: 800px;
}
#header {
	height:50px;
	z-index: 5;
}
#randombutton {
	text-align: center;
}
#getimagebutton {
	text-align: center;
}
#getlocationinfo {
	text-align: center;
}
#classifybutton {
	text-align: center;
}
.legend-item {
	padding-left:10px;
	margin-top:10px;
	font-size: 20px;
	width: 100px;
}
.border-red {
	border-color : red;
}
.border-blue {
	border-color : blue;
}
.border-yellow {
	border-color : yellow;
}
.red {
	font-size: 12px;
	color: red;
}
.blue {
	font-size: 12px;
	color: blue;
}
.yellow {
	font-size: 12px;
	color: yellow;
}
.gray {
	background-color: gray;
}
.labelClassSmall {
	width : 19px;
	height: 19px;
	border-style: solid;
	border-width: 1px;
	position: absolute;
	z-index: 1000;
}

.labelClassLarge {
	width : 39px;
	height: 39px;
	border-style: solid;
	border-width: 1px;
	position: absolute;
	z-index: 1000;
}
.category-text {
	padding-left: 10px;
	padding-top: 20px;
}
.restore-button {
	padding-left: 30px;
	padding-top: 10px;
}